html, body {
  width: 100%;
  height: 100%;
  color: #2c3e50;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('http://or60gmbpq.bkt.clouddn.com/17-7-17/87846086.jpg');
  background-size: cover;
}